# Auto-detect text files and normalize line endings
* text=auto

# Explicitly declare text files
*.js text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf
